/* Navigation Bar responsiveness */

@media screen and (max-width: 768px) {

  .navigation-Hero-container {
    width: 100%;
    height: 100vh;
    background: url(./images/6a2fbc07-323a-494b-b8f1-e4c737f6a7b1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }


  /* Hero Section start */

  .hero-section {
    width: 95%;
    height: 90%;
    margin: 0 auto;
    position: relative;
  }

  .hero-projects-templates {
    width: 100%;
    height: 100px;
    top: 70%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
  }


  .hero-footer {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .explore {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .links-arrows {
    width: 100px;
    height: 50%;
    gap: 20px;
    display: flex;
    align-items: center;
  }

  .links {
    width: 600px;
    height: 50%;
    color: #ffffff;
    display: flex;
    align-items: center;
    gap: 20px;
    display: none;
  }

  .arrows {
    width: 200px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}

/* About us responsiveness */

@media screen and (max-width: 768px) {
  .about-us-container {
    width: 100%;
    min-height: 180vh;
    height: auto;
    background: var(--primary-bg);
    padding: 20px 0;
  }

  .about-us-content {
    width: 95%;
    height: 100%;
    margin: 0 auto;
  }

  .about-us-heading {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .about-us-heading h1 {
    font-family: var(--ff-display);
  }

  .about-us-logo {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background: var(--secondary-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-family: var(--ff-display);
    font-size: 0.6rem;
  }

  .about-us-text {
    width: 100%;
    height: 70px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    border-top: 1px solid var(--secondary-bg);
    border-bottom: 1px solid var(--secondary-bg);
    margin-bottom: 15px;
    font-size: 0.6rem;
  }

  .about-us-photos {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .context {
    flex: 1 1 30%;
    height: 500px;
    border-radius: 12px;
  }

  .context-image {
    width: 100%;
    height: 300px;
    background: url(./images/Instagram.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .context-two .context-image {
    background: url(./images/Andre\ do\ Amaral\ -\ https\ –\ SAVEE.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .context-three .context-image {
    background: url(./images/↑↑\ HD\ version\ on\ website_\ Three\ individuals\ stand….jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .context-text h2 {
    font-family: var(--ff-display);
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .context-text p {
    font-size: .7rem;
    font-weight: 500;
    margin-bottom: 15px;
  }

  .context-link h2 {
    font-size: 0.7rem;
  }

  .context-link {
    width: 100%;
    height: 40px;
    background: var(--heading-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 7px;
    padding: 0 20px;
    margin-top: 20px;
  }

}

/* Templates showcase responsive */

@media screen and (max-width: 768px) {
  .templates-showcase-container {
    width: 100%;
    min-height: 100vh;
    height: auto;
    background: #171717;
    padding: 20px 0;
  }

  .templates-heading {
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 20px;
  }

  .templates-text {
    width: 100%;
    height: 120px;
  }

  .templates-text h2 {
    font-family: var(--ff-display);
    font-size: 1rem;
  }

  .templates-text p {
    font-size: 0.6rem;
    margin-top: 10px;
  }

  .templates-btn-heading {
    width: 100%;
    height: 70px;
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .templates-btn-heading h1 {
    font-family: var(--ff-display);
  }


  .Templates {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    padding-top: 10px;
  }

  .template {
    flex: 1 1 45%;
    width: 100%;
  }

  .templates-line {
    width: 100%;
    height: 10px;
    border-radius: 10px;
    background: red;
  }

  .template-content {
    width: 100%;
    height: 90%;
    margin-top: 20px;
  }

  .template-image {
    width: 100%;
    height: 85%;
    background: url(./templates/template\ one.PNG);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
  }

  .template-two .template-image {
    background: url(./templates/template\ two.PNG);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .templates-details {
    width: 100%;
    height: 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
  }

  .templates-details h2 {
    font-size: 0.8rem;
    font-family: var(--ff-display);
    font-weight: 900;
  }

  .templates-details h1 {
    font-size: 1rem;
    font-family: var(--ff-display);
    font-weight: 900;
  }

  .templates-details button {
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 0.6rem;
    font-family: var(--ff-display);
    font-weight: 900;
    border: none;
    cursor: pointer;
  }
}

/* Testimonial responsiveness */

@media screen and (max-width:768px) {
  .testimonial-section {
    width: 100%;
    min-height: 75vh;
    height: auto;
    background: var(--primary-bg);
    padding: 20px 0;
  }

  .testimonial-content {
    width: 95%;
    height: 100%;
    margin: 0 auto;
  }

  .testimonial-heading {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .testimonial-heading h1 {
    font-family: var(--ff-display);
    font-weight: bolder;
  }

  .testimonial-logo {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background: var(--secondary-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-family: var(--ff-display);
    font-size: 0.6rem;
  }

  .testimonials {
    width: 100%;
    height: 85%;
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    gap: 30px;
    align-items: center;
    margin-top: 20px;
  }

  .testimonial-images {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .image {
    width: 30%;
    height: 100px;
    background: red;
    border-radius: 10px;
  }



  .tracker {
    width: 100%;
    height: 2%;
    background: #D9D9D9;
    border-radius: 20px;
  }

  .testimonial-text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .testimonial-txt-heading {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    gap: 10px
  }

  .testimonial-txt-heading h2 {
    font-size: 1.3rem;
    font-family: var(--ff-display);
    font-weight: 900;
  }

  .testimonial-txt-heading p {
    font-size: 0.8rem;
  }

  .testimonial-txt-content {
    width: 100%;
    height: 50%;
    margin-top: 15px;
    border-radius: 10px;
    background: #ffffff;
    padding: 40px;
  }

  .testimonial-txt {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    display: none;
  }

  .active-txt {
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .testimonial-btns {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/* Pricing section responsive */

@media screen and (max-width:768px) {
  .pricing-container {
    width: 100%;
    min-height: 105vh;
    height: auto;
    background: #171717;
    padding: 20px 0;
  }

  .pricing-heading {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    align-items: center;
    color: #ffffff;
  }

  .pricing-text {
    width: 100%;
    height: 100px;
  }

  .pricing-text h2 {
    font-family: var(--ff-display);
    font-size: 1rem;
    margin-top: 10px;
  }

  .pricing-text p {
    font-size: 0.6rem;
    margin-top: 10px;
  }

  .pricing-btn-heading {
    width: 100%;
    height: 70px;
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .pricing-btn-heading h1 {
    font-family: var(--ff-display);
  }

  .pricing-btn-logo {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background: #DEDEDE;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-bg);
    font-weight: 900;
    font-family: var(--ff-display);
    font-size: 0.6rem;
  }

  .pricing-cards {
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .cards {
    flex: 1 1 30%;
    height: 400px;
    background: white;
    border-radius: 10px;
    padding: 5px;
  }

  .card-heading {
    width: 100%;
    height: 150px;
    background: red;
    border-radius: 10px;
    padding: 20px;
  }

  .package-type {
    width: 70px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 0.6rem;
    background: var(--heading-bg);
    color: #ffffff;
  }

  .package-price {
    font-size: 2rem;
    font-family: var(--ff-display);
    color: #ffffff;
  }

  .package-features {
    width: 100%;
    height: 200px;
    padding-top: 20px;
  }

  .package-features p {
    font-size: 0.8rem;
    line-height: 2;
    margin-left: 20px;
  }

  /* .package-features p::before {
  content: "✔";
  margin-left: -10px;
} */

  .pricing-card-button {
    width: 100%;
    height: 30px;
    background: var(--secondary-bg);
    border-radius: 5px;
  }

  .pricing-card-button button {
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    cursor: pointer;
    font-family: var(--ff-display);
    color: #ffffff;
    border-radius: 5px;
  }
}

/* FAQ responsiveness */

@media screen and (max-width:768px) {
  .faq-section {
    width: 100%;
    height: 100vh;
    padding: 20px 0;
    background: linear-gradient(to bottom, #DEDEDE 90%, #171717);
  }

  .faq-heading {
    width: 100%;
    min-height: 150px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .faq-text {
    width: 100%;
    height: auto;
    text-align: center;
  }

  .faq-text h2 {
    font-family: var(--ff-display);
    font-size: 1rem;
    margin-top: 10px;
  }

  .faq-text p {
    font-size: 0.7rem;
    margin-top: 10px;
  }

  .faq-btn-heading {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
  }

  .faq-btn-heading h1 {
    font-family: var(--ff-display);
  }

  .faq-btn-logo {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background: var(--secondary-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-bg);
    font-weight: 900;
    font-family: var(--ff-display);
    font-size: 0.6rem;
  }
}

/* CTA-FOOTER-RESPONSIVE */

@media screen and (max-width:768px) {
  .footer-cta-container {
    width: 100%;
    height: 100vh;
    background: #171717;
    padding: 10px;
  }

  .cta {
    width: 100%;
    height: 70%;
    background: linear-gradient(to bottom, #F2572B 80%, #171717);
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    color: #ffffff;
  }

  .cta h2 {
    font-size: 3rem;
    font-family: var(--ff-display);
  }

  .cta p {
    font-size: 0.7rem;
  }

  .newsletter {
    width: 350px;
    background: #ffffff;
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
  }

  .newsletter input {
    width: 200px;
    height: 35px;
    border-radius: 30px;
    border: none;
    outline: none;
    padding: 0 20px;
  }

  .newsletter button {
    width: 100px;
    height: 35px;
    background: #171717;
    color: #ffffff;
    border: none;
    border-radius: 30px;
  }

  .footer {
    width: 100%;
    height: 30%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .footer-heading {
    width: 90%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    margin: 0 auto;
    align-items: center;
  }

  .company-name {
    font-family: var(--ff-display);
    text-transform: uppercase;
    font-size: 0.6rem;
  }

  .company-motto,
  .socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    font-size: 0.6rem;
    cursor: pointer;
  }

  .horizontal {
    width: 90%;
    height: 1px;
    background: #ffffff;
    margin: 0 auto;
  }

  .footer-links {
    width: 90%;
    height: 30px;
    margin: 0 auto;
  }

  .footer-links ul {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style-type: none;
    font-size: 0.7rem;
  }

  .footer-bottom {
    width: 90%;
    height: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    font-size: 0.7rem;
  }

  .footer-links a,
  .privacy a {
    color: #ffffff;
    text-decoration: none;
  }


  .privacy {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style-type: none;
  }

}