/* Navigation Bar responsiveness */

@media screen and (max-width: 768px) {

  .navigation-Hero-container {
    width: 100%;
    height: 100vh;
    background: url(./images/6a2fbc07-323a-494b-b8f1-e4c737f6a7b1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }


  /* Hero Section start */

  .hero-section {
    width: 95%;
    height: 90%;
    margin: 0 auto;
    position: relative;
  }

  .hero-projects-templates {
    width: 100%;
    height: 100px;
    top: 70%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
  }


  .hero-footer {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .explore {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .links-arrows {
    width: 100px;
    height: 50%;
    gap: 20px;
    display: flex;
    align-items: center;
  }

  .links {
    width: 600px;
    height: 50%;
    color: #ffffff;
    display: flex;
    align-items: center;
    gap: 20px;
    display: none;
  }

  .arrows {
    width: 200px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}